.single__page{
    display: flex;
    justify-content: space-between;
    width:90vw ;
    margin: auto;
}
.card_details_left{
    width: 400px;
}
.card_details_left img{
    width: 300px;
}
.single__page_right{
    width:400px ;
    margin-left:50px ;
    text-align: center;
}

.single_top{
    margin-top: 200px;
}